.video-player {
  height: 100px;
  width: 200px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e49bff;
  color: aliceblue;
  font-family: "Inconsolata", monospace;
}

main {
  width: 1400px;
  margin: 0 auto;
  height: 75vh;
}

.video-player {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#user-streams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  main {
    width: 95%;
  }
}

#footer {
  display: none;
  justify-content: center;
  column-gap: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.video-containers {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: black;
  border-radius: 10px;
}
.user-uid {
  display: flex;
  align-items: center;
  column-gap: 1em;
  background-color: #1f1f1f8e;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  margin: 0;
  font-size: 18px;
}

#title {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.control-icon {
  display: block;
  padding: 15px;
  height: 30px;
  width: 30px;
  background-color: #1f1f1f8e;
}

.icon-wrapper {
  text-align: center;
  cursor: pointer;
}

#join-btn {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1f1f8e;
  border-radius: 10%;
  color: black;
  font-size: 30px;
  padding: 20px 30px;
  cursor: pointer;
}
